### 变量
命名规则：字母数字下划线，数字不能在首位

In [20]:
num = 1   
# 定义一个变量num
# 给num 赋值1

整数 ： int

小数 ： float

字符串 ： string

In [4]:
name = "布尔玛"
brand = "apple"

### print
函数

In [5]:
print(name)

布尔玛

### 函数 function
defination-定义

In [14]:
# 加法函数   
def fun(x,y):
    z = x + y 
    return z

In [9]:
a = 1
b = 2

In [16]:
fun(a,b)

3

In [9]:
# 练习: 写一个乘法函数
# 乘 : *
# 除 : /
# 平方 : ** 或 ^

### 数组/列表  list
有一串元素的集合

In [14]:
name_list = ["paula","belen"]
num_list = [3,44]

len(name_list)
print(name_list[0])

paula

### if  条件判断语句

In [31]:
name = "paula"
if len(name) == 3:
    print('3')
else:
    print('no')

no

### 循环

In [21]:
# 遍历数组
for name in name_list:
    print(name)

paula
belen

### 读文件
r : read 

w : write

In [33]:
with open('name.txt','r') as f:  #把文件的内容给f
    for line in f:  
        name = line.strip() # 去掉这一行前后的空白字符
        print(name)

paula
belen
yuanbo

In [36]:
with open('name.txt','r') as f:  #把文件的内容给f
    for line in f:  
        name = line.strip() # 去掉这一行前后的空白字符
        if len(name) > 5:
            print(line)

yuanbo

In [46]:
with open('iris.txt','r') as f:  #把文件的内容给f
    for line in f:  
        line = line.strip() # 去掉这一行前后的空白字符
        line = line.split(',') # 将字符串分割开
        if line[4]  == 'Iris-setosa' and line[0] == '5.1':  # 同时满足两个条件
            print(line)

['5.1', '3.5', '1.4', '0.2', 'Iris-setosa']
['5.1', '3.5', '1.4', '0.3', 'Iris-setosa']
['5.1', '3.8', '1.5', '0.3', 'Iris-setosa']
['5.1', '3.7', '1.5', '0.4', 'Iris-setosa']
['5.1', '3.3', '1.7', '0.5', 'Iris-setosa']
['5.1', '3.4', '1.5', '0.2', 'Iris-setosa']
['5.1', '3.8', '1.9', '0.4', 'Iris-setosa']
['5.1', '3.8', '1.6', '0.2', 'Iris-setosa']

and 且

or 或

In [47]:
# 练习 
# 第一列是 5.0 并且第二列是 3.5的

### 处理 excel

In [63]:
with open('hdl.csv','r') as f:  #把文件的内容给f
    for line in f:  
        line = line.strip() # 去掉这一行前后的空白字符
        line = line.split(',') # 将字符串分割开
        city = line[0].strip()
        if city == '新加坡':   
            print(line)

['新加坡', '新加坡15店（Marina Bay Sands）', '"2 Bayfront Avenue The Shoppes at Marina Bay Sands', ' #B2-01A/D', '018972"', '700(B2)', '8', '6', '296', '合同已签订', '', '2020/8/12', '2021/11/18(预计11月底进场)', '', '新加坡15店', '', '']
['新加坡', '新加坡16店 (Wisma Atria)', '"#03-15 to 23', ' #03-41(pt) to 49', 'Wisma Atria', '435 Orchard Rd', ' Singapore"', '958（3F）', '5', '5', '473', '合同已签订', '', '2020/10/29', '2020/12/30', '', '新加坡16店', '新加坡4店', '']
['新加坡 ', ' Jurong East Jcube', '', '', '', '', '', '商务定稿', '', '', '', '', '', '', '']
['新加坡 ', 'Woodleigh 在建中位置居中（小店）', '', '', '', '', '', '谈商务条件中', '', '', '', '', '', '', '']
['新加坡 ', 'Bugis', '', '', '', '', '', '谈商务条件中', '', '', '', '', '', '', '']
['新加坡 ', ' 新加坡Jurong point ', '', '', '', '', '', '商务阶段-谈判中', '', '', '', '', '', '', '']

### 字典
dictionary

key : value

In [99]:
name_dic = {}  # 字典必须首先定义
name_dic['paula'] = 18
name_dic['belen'] = 20
name_dic['zyb'] = 16

In [85]:
name_dic

{'paula': 18, 'belen': 20, 'zyb': 16}

In [87]:
name_dic['zyb']

16

In [89]:
name_dic.get('zyb',0)

16

In [104]:
name_dic.get('kkj',0)

0

In [171]:
city_dic =  {}

with open('hdl.csv','r') as f:  #把文件的内容给f
    for line in f:  
        line = line.strip() # 去掉这一行前后的空白字符
        city = line.split(',')[0] # 将字符串分割开
        city_num = city_dic.get(city,0)
        city_dic[city] =  city_num + 1

In [172]:
city_dic

{'\ufeff城市': 1,
 '': 8,
 '印尼': 3,
 'Jl. Pantai Indah Kapuk No.6': 1,
 '新加坡': 2,
 '新加坡 ': 4,
 '柬埔寨 ': 3,
 '韩国': 1,
 '부산시 동구 중앙대로 175"': 1,
 '香港': 2,
 '澳门': 1,
 '英国': 2,
 '西班牙': 1,
 '瑞士': 1}